@use '../mixins' as *;
@use '../variables' as *;

.addtask__container{
  width: 100%;
  background-color: $grey;
  @include flexCenter;
  flex-direction: column;
  gap: 2rem;
  padding: 1.6rem;
  border-radius: .8rem;
  
  h3{
    color: $black;
    font-size: 2.6rem;
    text-align: left;
    width: 100%;
    font-weight: 400;
  }
  

  textarea, input{
    background-color: $light-grey;
    border-radius: .8rem;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: $dark-grey;

    &::placeholder{
      color: $dark-grey;
    }
  }

  textarea{
    height: 12rem;
    width: 100%;
    resize: none;

  }

  label{
    width: 100%;
    @include flexCenter;
    justify-content: flex-start;
    gap: 1rem;

    span{
      color: $black;
      font-size: 1.8rem;
      font-weight: 600;
    }
    input{
      width: 20%
    }
  }

}


.addtask__buttonsContainer{
  @include flexCenter;
  justify-content: space-between;
  width: 100%;

  div{
    @include flexCenter;
    gap: 2rem
  }

  button{
    @include resetButton;
    @include flexCenter;
    gap: .5rem;

    img{
      width: 1.7rem;
    }
    span{
      font-size: 1.6rem;
    }

    &:last-child{
      background-color: $black;
      border-radius: 3.2rem;
      padding:  0.8rem 1.6rem;

      span{
        color: $white;
      }
    }
  }


}

.addtask__addButton{
  @include flexCenter;

  border: 2px solid $purple;
  border-radius: 3.2rem;
  width: 100%;
  padding: 1.5rem 0;
  gap: 1rem;
  cursor: pointer;
  margin-top: 3rem;

  &:hover{
    background-color: #f9f6f6;
  }

  p{
    font-size: 1.8rem;
    font-weight: 600;
    color: $purple;
    font-family: Montserrat;
    
  }
}

