@use '../variables' as *;



.app__container {
  background: url(../../assets/imagens/pattern.png),$main-bg-purple; 
  background-position: center, center; 
  background-size: cover; 
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100%;

  &.focus{
  background: url(../../assets/imagens/pattern.png),$main-bg-purple; 

  }

  &.short{
    background: url(../../assets/imagens/pattern.png),$main-bg-green; 
  
  }

  &.long{
    background: url(../../assets/imagens/pattern.png),$main-bg-blue; 
  
  }
  
}