@use '../mixins' as *;


.banner__container{
  width: 80%;
  margin: 0 auto;
  @include flexCenter;
  justify-content: space-between;

  @include respond-to(1000px){
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 6rem;

    img{
      max-width: 90%;
    }
  }

  gap: 4rem;
  // flex-wrap: wrap;

  h1{
    line-height: 150%;
    font-size: 5.2rem;
    font-style: normal;
    color: var(--color-secondary);
    font-weight: 200;
    max-width: 46rem;

    strong{
      font-weight: 600;
      font-size: 5.2rem;
    
    }
  }
}