@use '../mixins' as *;
@use '../variables' as *;

.todolist__container{
  color: $white;

  @include cardWidth;
  margin: 0 auto 2rem auto;

  h2{
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-weight: 400;

  }
}


.todolist__finishTime{
  width: 100%;
  @include flexCenter;
  margin-top: 3rem;
  height: 5rem;
  background-color: $timer-card-bg;
  border-radius: 1rem;
  border: 0.2rem solid $royal-blue;

  p{
    font-size: 1.8rem;
    font-family: "Unbounded";

  }
}