
$primary-color: #123456;
$royal-blue: #144480;
$timer-card-bg:  rgba(20, 68, 128, 0.30);
$purple: #B872FF;
$button-gradient: linear-gradient(180deg, #B872FF 0%, #144480 100%);
$light-grey: #98A0A8;
$grey: #80868D;
$dark-grey: #373737;
$black: #01080E;
$white: #FFF;



$main-bg-purple: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
$main-bg-green: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
$main-bg-blue: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);

